# ansible managed
# -----------------------------
# PostgreSQL configuration file
# -----------------------------
#
# This file consists of lines of the form:
#
#   name = value
#
# (The "=" is optional.)  Whitespace may be used.  Comments are introduced with
# "#" anywhere on a line.  The complete list of parameter names and allowed
# values can be found in the PostgreSQL documentation.
#
# The commented-out settings shown in this file represent the default values.
# Re-commenting a setting is NOT sufficient to revert it to the default value;
# you need to reload the server.
#
# This file is read on server startup and when the server receives a SIGHUP
# signal.  If you edit the file on a running system, you have to SIGHUP the
# server for the changes to take effect, or use "pg_ctl reload".  Some
# parameters, which are marked below, require a server shutdown and restart to
# take effect.
# -----------------------------
# PostgreSQL configuration file
# -----------------------------
#
# This file consists of lines of the form:
#
#   name = value
#
# (The "=" is optional.)  Whitespace may be used.  Comments are introduced with
# "#" anywhere on a line.  The complete list of parameter names and allowed
# values can be found in the PostgreSQL documentation.
#
# The commented-out settings shown in this file represent the default values.
# Re-commenting a setting is NOT sufficient to revert it to the default value;
# you need to reload the server.
#
# This file is read on server startup and when the server receives a SIGHUP
# signal.  If you edit the file on a running system, you have to SIGHUP the
# server for the changes to take effect, or use "pg_ctl reload".  Some
# parameters, which are marked below, require a server shutdown and restart to
# take effect.
#
# Any parameter can also be given as a command-line option to the server, e.g.,
# "postgres -c log_connections=on".  Some parameters can be changed at run time
# with the "SET" SQL command.
#
# Memory units:  kB = kilobytes        Time units:  ms  = milliseconds
#                MB = megabytes                     s   = seconds
#                GB = gigabytes                     min = minutes
#                                                   h   = hours
#                                                   d   = days


#------------------------------------------------------------------------------
# FILE LOCATIONS
#------------------------------------------------------------------------------

# The default values of these variables are driven from the -D command-line
# option or PGDATA environment variable, represented here as ConfigDir.

#data_directory = 'ConfigDir'
#hba_file = 'ConfigDir/pg_hba.conf'
#ident_file = 'ConfigDir/pg_ident.conf'
#external_pid_file = ''

#------------------------------------------------------------------------------
# CONNECTIONS AND AUTHENTICATION
#------------------------------------------------------------------------------

# - Connection Settings -

listen_addresses = '{{ postgresql_listen_addresses | join(",") }}'
port = {{ postgresql_port }}
max_connections = {{ postgresql_max_connections }}
superuser_reserved_connections = {{ postgresql_superuser_reserved_connections }}
{% if postgresql_multi_sockets %}
unix_socket_directories = '{{ postgresql_unix_socket_directories | join(",") }}'
{% endif %}
unix_socket_group = '{{ postgresql_unix_socket_group }}'
unix_socket_permissions = {{ postgresql_unix_socket_permissions }}

{% if postgresql_bonjour %}
bonjour = {{ 'on' if postgresql_bonjour else 'off' }}
bonjour_name = '{{ postgresql_bonjour_name }}'
{% endif %}

# - Security and Authentication -

authentication_timeout = {{ postgresql_authentication_timeout }}
{% if postgresql_ssl %}
ssl = {{ 'on' if postgresql_ssl else 'off' }}
ssl_ciphers = '{{ postgresql_ssl_ciphers }}'
ssl_renegotiation_limit = {{ postgresql_ssl_renegotiation_limit }}
ssl_cert_file = '{{ postgresql_ssl_cert_file }}'
ssl_key_file = '{{ postgresql_ssl_key_file }}'
ssl_ca_file = '{{ postgresql_ssl_ca_file }}'
ssl_crl_file = '{{ postgresql_ssl_crl_file }}'
{% endif %}
password_encryption = {{ 'on' if postgresql_password_encryption else 'off' }}
db_user_namespace = {{ 'on' if postgresql_db_user_namespace else 'off' }}

# Kerberos and GSSAPI
krb_server_keyfile = '{{ postgresql_krb_server_keyfile }}'
#krb_srvname = '{{ postgresql_krb_srvname }}'
krb_caseins_users = {{ 'on' if postgresql_krb_caseins_users else 'off' }}

# - TCP Keepalives -

tcp_keepalives_idle = {{ postgresql_tcp_keepalives_idle }}
tcp_keepalives_interval = {{ postgresql_tcp_keepalives_interval }}
tcp_keepalives_count = {{ postgresql_tcp_keepalives_count }}

#------------------------------------------------------------------------------
# RESOURCE USAGE (except WAL)
#------------------------------------------------------------------------------

# - Memory -

shared_buffers = {{ postgresql_shared_buffers }}
temp_buffers = {{ postgresql_temp_buffers }}
max_prepared_transactions = {{ postgresql_max_prepared_transactions }}
work_mem = {{ postgresql_work_mem }}
maintenance_work_mem = {{ postgresql_maintenance_work_mem }}
max_stack_depth = {{ postgresql_max_stack_depth }}

{% if postgresql_temp_file %}
# - Disk -

temp_file_limit = {{ postgresql_temp_file_limit }}
{% endif %}

# - Kernel Resource Usage -

max_files_per_process = {{ postgresql_max_files_per_process }}
shared_preload_libraries = '{{ postgresql_shared_preload_libraries | join(",") }}'

# - Cost-Based Vacuum Delay -

vacuum_cost_delay = {{ postgresql_vacuum_cost_delay }}
vacuum_cost_page_hit = {{ postgresql_vacuum_cost_page_hit }}
vacuum_cost_page_miss = {{ postgresql_vacuum_cost_page_miss }}
vacuum_cost_page_dirty = {{ postgresql_vacuum_cost_page_dirty }}
vacuum_cost_limit = {{ postgresql_vacuum_cost_limit }}

# - Background Writer -

bgwriter_delay = {{ postgresql_bgwriter_delay }}
bgwriter_lru_maxpages = {{ postgresql_bgwriter_lru_maxpages }}
bgwriter_lru_multiplier = {{ postgresql_bgwriter_lru_multiplier }}

# - Asynchronous Behavior -

effective_io_concurrency = {{ postgresql_effective_io_concurrency }}

#------------------------------------------------------------------------------
# WRITE AHEAD LOG
#------------------------------------------------------------------------------

# - Settings -

{% if postgresql_temp_file %}
wal_level = {{ postgresql_wal_level }}
fsync = {{ 'on' if postgresql_fsync else 'off' }}
synchronous_commit =  {{ 'on' if postgresql_synchronous_commit else 'off' }}
wal_sync_method = {{ postgresql_wal_sync_method }}
full_page_writes = {{ 'on' if postgresql_full_page_writes else 'off' }}
wal_buffers = {{ postgresql_wal_buffers }}
wal_writer_delay = {{ postgresql_wal_writer_delay }}
commit_delay = {{ postgresql_commit_delay }}
commit_siblings = {{ postgresql_commit_siblings }}
{% endif %}

# - Checkpoints -

checkpoint_segments = {{ postgresql_checkpoint_segments }}
checkpoint_timeout = {{ postgresql_checkpoint_timeout }}
checkpoint_completion_target = {{ postgresql_checkpoint_completion_target }}
checkpoint_warning = {{ postgresql_checkpoint_warning }}

# - Archiving -

archive_mode = {{ 'on' if postgresql_archive_mode else 'off' }}
archive_command = '{{ postgresql_archive_command }}'
archive_timeout = {{ postgresql_archive_timeout }}

{% if postgresql_replication %}
#------------------------------------------------------------------------------
# REPLICATION
#------------------------------------------------------------------------------

# - Sending Server(s) -

max_wal_senders = {{ postgresql_max_wal_senders }}
wal_keep_segments = {{ postgresql_wal_keep_segments }}
replication_timeout = 60s      # in milliseconds; 0 disables

# - Master Server -

synchronous_standby_names = '{{ postgresql_synchronous_standby_names | join(",") }}'
vacuum_defer_cleanup_age = {{ postgresql_vacuum_defer_cleanup_age }}

# - Standby Servers -

hot_standby = {{ 'on' if postgresql_hot_standby else 'off' }}
max_standby_archive_delay = {{ postgresql_max_standby_archive_delay }}
max_standby_streaming_delay = {{ postgresql_max_standby_streaming_delay }}
wal_receiver_status_interval = {{ postgresql_wal_receiver_status_interval }}
hot_standby_feedback = {{ 'on' if postgresql_hot_standby_feedback else 'off' }}
{% endif %}

#------------------------------------------------------------------------------
# QUERY TUNING
#------------------------------------------------------------------------------

#------------------------------------------------------------------------------
# ERROR REPORTING AND LOGGING
#------------------------------------------------------------------------------

# - Where to Log -

log_destination = '{{ postgresql_log_destination }}'
logging_collector = {{ postgresql_logging_collector }}
log_directory = '{{ postgresql_log_directory }}'
log_filename = '{{ postgresql_log_filename }}'
#log_file_mode = {{ postgresql_log_file_mode }}
log_truncate_on_rotation = {{ 'on' if postgresql_log_truncate_on_rotation else 'off' }}
log_rotation_age = {{ postgresql_log_rotation_age }}
log_rotation_size = {{ postgresql_log_rotation_size }}
syslog_facility = '{{ postgresql_syslog_facility }}'
syslog_ident = '{{ postgresql_syslog_ident }}'
#event_source = '{{ postgresql_event_source }}'

# - When to Log -

client_min_messages = {{ postgresql_client_min_messages }}
log_min_messages = {{ postgresql_log_min_messages }}
log_min_error_statement = {{ postgresql_log_min_error_statement }}
log_min_duration_statement = {{ postgresql_log_min_duration_statement }}

# - What to Log -

debug_print_parse = {{ 'on' if postgresql_debug_print_parse else 'off' }}
debug_print_rewritten = {{ 'on' if postgresql_debug_print_rewritten else 'off' }}
debug_print_plan = {{ 'on' if postgresql_debug_print_plan else 'off' }}
debug_pretty_print = {{ 'on' if postgresql_debug_pretty_print else 'off' }}
log_checkpoints = {{ 'on' if postgresql_log_checkpoints else 'off' }}
log_connections = {{ 'on' if postgresql_log_connections else 'off' }}
log_disconnections = {{ 'on' if postgresql_log_disconnections else 'off' }}
log_duration = {{ 'on' if postgresql_log_duration else 'off' }}
log_error_verbosity = {{ postgresql_log_error_verbosity }}
log_hostname = {{ 'on' if postgresql_log_hostname else 'off' }}
log_line_prefix = '{{ postgresql_log_line_prefix }}'
log_lock_waits = {{ 'on' if postgresql_log_lock_waits else 'off' }}
log_statement = '{{ postgresql_log_statement }}'
log_temp_files = {{ postgresql_log_temp_files }}
log_timezone = '{{ postgresql_log_timezone }}'

#------------------------------------------------------------------------------
# RUNTIME STATISTICS
#------------------------------------------------------------------------------

# - Query/Index Statistics Collector -

{% if postgresql_tracking %}
track_activities = {{ 'on' if postgresql_track_activities else 'off' }}
track_counts = {{ 'on' if postgresql_track_counts else 'off' }}
track_io_timing = {{ 'on' if postgresql_track_io_timing else 'off' }}
track_functions = {{ postgresql_track_functions }}
track_activity_query_size = {{ postgresql_track_activity_query_size }}
update_process_title = {{ 'on' if postgresql_update_process_title else 'off' }}
stats_temp_directory = '{{ postgresql_stats_temp_directory }}'
{% endif %}
# - Statistics Monitoring -

{% if postgresql_log_stats %}
log_parser_stats = {{ 'on' if postgresql_log_parser_stats else 'off' }}
log_planner_stats = {{ 'on' if postgresql_log_planner_stats else 'off' }}
log_executor_stats = {{ 'on' if postgresql_log_executor_stats else 'off' }}
log_statement_stats = {{ 'on' if postgresql_log_statement_stats else 'off' }}
{% endif %}

#------------------------------------------------------------------------------
# AUTOVACUUM PARAMETERS
#------------------------------------------------------------------------------

{% if postgresql_autovacuum %}
autovacuum = {{ 'on' if postgresql_autovacuum else 'off' }}
log_autovacuum_min_duration = {{ postgresql_log_autovacuum_min_duration }}
autovacuum_max_workers = {{ postgresql_autovacuum_max_workers }}
autovacuum_naptime = {{ postgresql_autovacuum_naptime }}
autovacuum_vacuum_threshold = {{ postgresql_autovacuum_vacuum_threshold }}
autovacuum_analyze_threshold = {{ postgresql_autovacuum_analyze_threshold }}
autovacuum_vacuum_scale_factor = {{ postgresql_autovacuum_vacuum_scale_factor }}
autovacuum_analyze_scale_factor = {{ postgresql_autovacuum_analyze_scale_factor }}
autovacuum_freeze_max_age = {{ postgresql_autovacuum_freeze_max_age }}
autovacuum_vacuum_cost_delay = {{ postgresql_autovacuum_vacuum_cost_delay }}
autovacuum_vacuum_cost_limit = {{ postgresql_autovacuum_vacuum_cost_limit }}
{% endif %}

#------------------------------------------------------------------------------
# CLIENT CONNECTION DEFAULTS
#------------------------------------------------------------------------------

# - Statement Behavior -

{% if postgresql_stmt_behavior %}
search_path = '{{ postgresql_search_path | join(",") }}'
default_tablespace = '{{ postgresql_default_tablespace }}'
temp_tablespaces = '{{ postgresql_temp_tablespaces | join(",") }}'
check_function_bodies = {{ 'on' if postgresql_check_function_bodies else 'off' }}
default_transaction_isolation = '{{ postgresql_default_transaction_isolation }}'
default_transaction_read_only = {{ 'on' if postgresql_default_transaction_read_only else 'off' }}
default_transaction_deferrable = {{ 'on' if postgresql_default_transaction_deferrable else 'off' }}
session_replication_role = '{{ postgresql_session_replication_role }}'
statement_timeout = {{ postgresql_statement_timeout }}
vacuum_freeze_min_age = {{ postgresql_vacuum_freeze_min_age }}
vacuum_freeze_table_age = {{ postgresql_vacuum_freeze_table_age }}
bytea_output = '{{ postgresql_bytea_output }}'
xmlbinary = '{{ postgresql_xmlbinary }}'
xmloption = '{{ postgresql_xmloption }}'
gin_fuzzy_search_limit = {{ postgresql_gin_fuzzy_search_limit }}
{% endif %}

# - Locale and Formatting -

datestyle = '{{ postgresql_datestyle }}'
intervalstyle = '{{ postgresql_intervalstyle }}'
timezone = '{{ postgresql_timezone }}'
timezone_abbreviations = '{{ postgresql_timezone_abbreviations }}'
extra_float_digits = {{ postgresql_extra_float_digits }}
client_encoding = {{ postgresql_client_encoding }}
lc_messages = '{{ postgresql_lc_messages }}'
lc_monetary = '{{ postgresql_lc_monetary }}'
lc_numeric = '{{ postgresql_lc_numeric }}'
lc_time = '{{ postgresql_lc_time }}'
default_text_search_config = '{{ postgresql_default_text_search_config }}'

# - Other Defaults -

dynamic_library_path = '{{ postgresql_dynamic_library_path }}'
local_preload_libraries = '{{ postgresql_local_preload_libraries | join(",") }}'

#------------------------------------------------------------------------------
# LOCK MANAGEMENT
#------------------------------------------------------------------------------

{% if postgresql_lock_management %}
deadlock_timeout = {{ postgresql_deadlock_timeout }}
max_locks_per_transaction = {{ postgresql_max_locks_per_transaction }}
max_pred_locks_per_transaction = {{ postgresql_max_pred_locks_per_transaction }}
{% endif %}

#------------------------------------------------------------------------------
# VERSION/PLATFORM COMPATIBILITY
#------------------------------------------------------------------------------

# - Previous PostgreSQL Versions -

{% if postgresql_version_compat %}
array_nulls = {{ 'on' if postgresql_array_nulls else 'off' }}
backslash_quote = {{ postgresql_backslash_quote }}
default_with_oids = {{ 'on' if postgresql_default_with_oids else 'off' }}
escape_string_warning = {{ 'on' if postgresql_escape_string_warning else 'off' }}
lo_compat_privileges = {{ 'on' if postgresql_lo_compat_privileges else 'off' }}
quote_all_identifiers = {{ 'on' if postgresql_quote_all_identifiers else 'off' }}
sql_inheritance = {{ 'on' if postgresql_sql_inheritance else 'off' }}
standard_conforming_strings = {{ 'on' if postgresql_standard_conforming_strings else 'off' }}
synchronize_seqscans = {{ 'on' if postgresql_synchronize_seqscans else 'off' }}

# - Other Platforms and Clients -

transform_null_equals = {{ 'on' if postgresql_transform_null_equals else 'off' }}
{% endif %}
#------------------------------------------------------------------------------
# ERROR HANDLING
#------------------------------------------------------------------------------

{% if postgresql_error_handling %}
exit_on_error = {{ 'on' if postgresql_exit_on_error else 'off' }}
restart_after_crash = {{ 'on' if postgresql_restart_after_crash else 'off' }}
{% endif %}
